API_KEY = your_api_key
TG_TOKEN = your_tg_token
TG_CHAT_ID = your_tg_chat_id
DB_NAME = weather
DB_USER = postgres
DB_HOST = localhost
DB_PASSWORD = postgres
DB_PORT = 5432
RAW_PATH = /home/weather-etl-pipeline/layers/raw/ #Желательно, иначе конфликт в коде 
SILVER_PATH = /home/weather-etl-pipeline/layers/silver/ #Желательно, иначе конфликт в коде