API_KEY = your_api_key
TG_TOKEN = your_tg_token
TG_CHAT_ID = your_tg_chat_id
DB_NAME = weather
DB_USER = postgres
DB_HOST = localhost
DB_PASSWORD = postgres
DB_PORT = 5432
S3_ENDPOINT_URL = your_enpoint_path
MINIO_AWS_ACCESS_KEY_ID = minioadmin
MINIO_AWS_SECRET_ACCESS_KEY = minioadmin